table{
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;

}

td{
	font-size: 15px;
	padding: 2px;
	border: 1px solid black;
	text-align: center;

}

.start{
	text-align: center;
}

input{
	
}

h3{
	
}

h4{
	
}

